<%-include('header')-%>
<%-include('userNAVBar')-%>
<br><br><br>
<div class="container">
  <div class="small-container">
    <span id="success" style="color:green"></span>
    <span id="err" style="color:rgb(255, 0, 0) "></span>
    <form action="/change-password/<%=user._id%>" method="post" id="change-password">
      <input type="text" value="<%=user._id%>" id="userid" hidden>
      <input type="password" name="old_password" placeholder="Enter your old password" required>
      <input type="password" name="new_password" placeholder="Enter you new password" required>
      <input type="password" name="confirm_password" placeholder="Re enter you new Password" required>
      <button type="submit" class=" btn">Save</button>
    </form>
  </div>
</div>
<script>
  $('#change-password').submit((e) => {
    e.preventDefault();
    let id = document.getElementById('userid').value
    console.log(id)
    $.ajax({
      url:`/change-password/${id}`,
      method:'post',
      data:$('#change-password').serialize(),
      success : (response) => {
        console.log(response)
        if(response.status == false){
          let error = document.getElementById('err')
          error.innerHTML = 'Enter password properly'
        }else{
          let success = document.getElementById('success')
          success.innerHTML = 'password changed successfully'
        }
      }
    })
  })
</script>
<%-include('footer')-%>