<%-include('proheader')-%>
<link rel="stylesheet" href="../../stylesheets/navbar.css">
<link rel="stylesheet" href="../../stylesheets/query.css">
<%-include('userNAVBar')-%>
      <div class="container">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Edit Address</h4>
            <form class="needs-validation" action="/add-address" method="" id="editAddress">
                <span id="formErr" class="text-danger"></span>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="">Full name</label>
                  <input type="text" class="form-control" name="full_name" id="fullname"  value="<%=edit.full_name%>" required onkeyup="validateName()">
                  <span id="fullname-error" class="text-danger"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="">House</label>
                  <input type="text" class="form-control" name="house" id="house" placeholder="" value="<%=edit.house%>" required onkeyup="validateHouse()">
                  <span id="house-error" class="text-danger"></span> 
                </div>
                <div class="col-md-6 mb-3">
                  <label for="">Phone</label>
                  <input type="number" class="form-control" name="phone" id="phone" placeholder="" value="<%=edit.phone%>" required onkeyup="validatePhone()">
                  <span id="phone-error" class="text-danger"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="">Land Mark</label>
                  <input type="text" class="form-control" name="country" id="country" placeholder="" value="<%=edit.country%>" required onkeyup="validateLand()">
                  <span id="landMark-error" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="">State</label>
                  <input type="text" class="form-control" name="state" id="state" placeholder="" value="<%=edit.state%>" required onkeyup="validateState()">
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="">District</label>
                  <input type="text" class="form-control" name="district" id="district" placeholder="" value="<%=edit.district%>" required onkeyup="validateDistrict()">
                  <span id="district-error" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="">Pincode</label>
                  <input type="number" class="form-control" name="pincode" id="pincode" placeholder="" value="<%=edit.pincode%>" required onkeyup="validatePincode()">
                  <span id="pincode-error" class="text-danger"></span>
                </div>
                <input type="text" name="addressId" value="<%=edit._id%>" id="addressId" hidden>
                <button class=" btn-lg btn-block" type="submit" id="" onclick="saveAdd()" style="background-color:#ff523b; border: none;color: #fff;">Save</button>
            </div>
        </form>    
    </div>
    </div>
    <script src="../../javascripts/validate.js"></script>
<%-include('footer')-%>