<%-include('proHeader')-%>
<link rel="stylesheet" href="../../stylesheets/navbar.css">
<link rel="stylesheet" href="../../stylesheets/query.css">
<%-include('userNAVBar')%>
<div class="container">
  <div class="py-5 text-center">
<style>
  .clr{
    display: none;
  }
  .disbtn{
    display: block;
  }
</style>   
    
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Item</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
          <input type="text" id="sum" value="<%=total%>" hidden>
          <span>Total (INR)</span>
          <strong id="total"> <%=total%></strong>
        </li>
      </ul>
      <div class="card p-2">
        <span id="coupErr" style="color:rgb(255, 0, 0) "></span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter Coupon code" value="" id="promo">
          <div class="input-group-append">
            <button type="submit" class="btn btn-success" onclick="Apply()">Redeem</button>
          </div>
        </div>
      </div>
      <h5 class="mb-4" style="font-weight:bold">
        Saved Address
      </h5>
      <% if(address) {%>
        <%address.forEach((element)=>{%>
          <div class="form-check col-md-6 py-2">
            <input class="from-check-input" type="radio" name="savedAddress" value="<%=element.full_name%> <%=element.house%> <%=element.phone%> <%=element.country%> <%=element.state%> <%=element.district%> <%=element.pincode%>" id="address.container"  onclick="addFields(`<%=element.full_name%>`,`<%=element.house%>`,`<%=element.phone%>`,`<%=element.country%>`,`<%=element.state%>`,`<%=element.district%>`,`<%=element.pincode%>`)">
            <label class="form-check-label">
              <%=element.full_name%>
              <%=element.full_name%>
              <%=element.house%>
              <%=element.phone%>
              <%=element.country%>
              <%=element.state%>
              <%=element.district%>
              <%=element.pincode%>
            </label>
          </div>
        <% })%>
      <% } else { %>
        <!-- <p class="d-flex total-price"> -->
          <span class="col-12">Saved Address is Empty</span>
        <!-- </p> -->
      <% } %>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" id="place-order">
        <input type="text" id="couponValue" name="couponPrice" hidden>
        <input type="text" id="couponId" name="couponid" hidden>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Full name</label>
            <input type="text" class="form-control" name="firstname" id="fullname" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">House</label>
            <input type="text" class="form-control" name="house" id="house" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Country</label>
            <input type="text" class="form-control" name="country" id="country" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">State</label>
            <input type="text" class="form-control" name="state" id="state" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">District</label>
            <input type="text" class="form-control" name="district" id="district" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Pincode</label>
            <input type="text" class="form-control" name="pincode" id="pincode" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="payment" type="radio" class="custom-control-input" value="COD"  onclick="displayCheckout()" required>
            <label class="custom-control-label" for="credit">Cash on Delivery</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="payment" type="radio" class="custom-control-input" value="razorpay" onclick="displayCheckout()" required>
            <label class="custom-control-label" for="debit">Razor pay</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="payment" type="radio" class="custom-control-input" value="paypal" onclick="displayPaypal()" required>
            <label class="custom-control-label" for="paypal">PayPal</label>
          </div>
        </div>
        
        <hr class="mb-4">
        
        <!-- Set up a container element for the button -->
        <div id="paypal-button-container" class="clr"></div>
        <div id="checkout-button" class="clr">
          <button class="btn btn-primary btn-lg btn-block" type="submit" id="btn-place-order">Continue to checkout</button>
          <input type="text" name="userid" value="<%=user._id%>" hidden>
        </div>
      </form>
    </div>
  </div>
   <script>
  $("#place-order").submit((e) => {
    console.log('in ajax')
    e.preventDefault();
    $.ajax({
      url: "/proceed-to-checkout",
      method: "post",
      data: $("#place-order").serialize(),
      success: (response) => {
        console.log(response);
        alert("Press OK to confirm");
        if (response.COD_success) {
          location.href = "/placed-order";
        }
        else if(response.paypal){
          location.href ='/placed-order'
        }
        else {
          razorpayPayment(response);
        }
      },
    });
  });
  function razorpayPayment(order) {
    var options = {
      "key": "rzp_test_U40uDVlng8u6Cw", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Predator Company",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    //   "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
      "handler": function (response) {
        verifyPayment(response,order);
      },
      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999",
      },
      "notes": {
        "address": "Razorpay Corporate Office",
      },
      "theme": {
        "color": "#3399cc",
      },
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
  function verifyPayment (payment,order){
    $.ajax({
        url:'/payment-verify',
        method:'post',
        data:{
            payment,
            order
        },
        success:(response) => {
            if(response.status){
                location.href = "/placed-order";
            }else{
                alert('There is an error in your payment procedure')
            }
        }
    })
  }  
  </script> 
<script src="../../javascripts/functions.js"></script>