<%-include('header')-%>
<link rel="stylesheet" href="stylesheets/frontend.css">
<%-include('userNAVBar')-%>


<h2><P>Your addressess</P></h2>

<div class="container d-flex" >
  <% address.forEach((element) => { %>
    <div class="cards">
      <div class="container container-details">
        <h3><P><%=element.full_name%></P></h3><br>
        <p><%=element.house%> </p><br>
        <p><%=element.phone%> </p><br>
        <p><%=element.country%> </p><br>
        <p><%=element.state%> </p><br>
        <p><%=element.district%> </p><br>
        <p><%=element.pincode%></p>
        <br>
        <a href="/edit-address/<%=element._id%>">Edit </a>
        <button onclick="return alert('Do you want to delete'),deleteAddress(`<%=element._id%>`)"><i class="material-icons" style="color: red;" >delete</i></button>
      </div>
    </div>
  <% }) %>
</div>
<a href="/add-address" class="btn">Add address</a>
<br><br><br><br>
<!-- footer -->
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>
                  Download our app
              </h3>
              <p>Download our app for android and ios mobile phone </p>
              <div class="app-logo">
                  <img src="/frontend-images/play-store.png" >
                  <img src="/frontend-images/app-store.png" >
              </div>
          </div>
          <div class="footer-col-2">
              <img src="/frontend-images/logo-white.png" alt="">
              <p>Download our app for android and ios mobile phone </p>
          </div>
          <div class="footer-col-3">
              <h3>Usefull Links</h3>
              <ul>
                  <li>Coupons</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join Affiliate</li>
              </ul>
          </div>
          <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                  <li>Facebook</li>
                  <li>Instagram</li>
                  <li>Youtube</li>
                  <li>Twitter</li>
              </ul>
          </div>
      </div>
  </div>
</div>

<script>
    function deleteAddress(addressId) {
        console.log(addressId)
        $.ajax({
            url:`/delete-address/${addressId}`,
            method:'delete',
            success : (response) => {
                location.reload()
            }
        })
    }
</script>

<%-include('footer')-%>