<%-include('header')-%>
<%-include('userNAVBar')-%>


  <% products.forEach((element)=>{ %>
  <div class="row">
      <div class="col-4">
          <img src="/images/<%=element.product._id%>.jpg">
          <h2><%=element.product.name%></h2>
          <p><%=element.product.description%></p>
          <p>Rs<%=element.product.price%></p>
          <p>Quantity <%=element.quantity%></p>
      </div>
    </div>
    <% }) %>
</div>
<%-include('footer')-%>